__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

/build/
/dist/
/.eggs/
/*.egg-info/
/sdist/
/wheels/
*.egg
.tox/

.idea/
.vscode/
.DS_Store
*.log

*.sqlite
*.sh
TODO.md
.coverage
.coverage.*

/.venv/

.env
.env.*
